body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

button {
    padding: 15px 30px;
    font-size: 1.2rem;
    cursor: pointer;
    border: none;
}